@using FitnessApp.Web.ViewModels.Program
@model IEnumerable<AllProgramViewModel>

<style>
    .program-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        margin-top: 50px;
    }

    .program {
        max-width: 300px;
        text-align: center;
    }

        .program img {
            display: flex;
            width: 200px;
            height: 200px; /* Adjust the height as per your preference */
            object-fit: cover;
        }
</style>


<h2 class="text-center">Programs</h2>

<div class="row">
    @foreach (var program in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@program.PictureUrl" class="card-img-top" alt="@program.Name">
                <div class="card-body">
                    <h5 class="card-title">@program.Name</h5>
@*                    <a href="@Url.Page("Details", new { id = program.Id })" class="btn btn-primary">Details</a>
                    <a href="@Url.Page("Join", new { id = program.Id })" class="btn btn-success">Join</a>*@
                </div>
            </div>
        </div>
    }
</div>

