@model DetailPostViewModel

@inject IPostService PostService
<div class="container">
	<div class="header">
		<h1>@Model.Title</h1>
		<p>Published: @Model.CreatedOn</p>
	</div>

	<div class="post-content">
		@Model.Text
	</div>
	 @if (await PostService.IsThisUserAuthorOfThePost(this.User.GetId(), Model.Id) || User.IsAdmin())
                    {
                    <a class="btn btn-warning text-white align-content-center" asp-route-id="@Model.Id" asp-area="" asp-controller="Post" asp-action="Edit">Edit Post</a>
                    <a class="btn btn-danger text-white  align-content-center" asp-route-id="@Model.Id" asp-area="" asp-controller="Post" asp-action="Delete">Delete Post</a>
                    }
</div>



<style>
	.header {
		color: #1E90FF;
		border-bottom: 1px solid #ccc;
		margin-bottom: 20px;
	}

	.post-content {
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 20px;
		color: #1E90FF; 
	}

	.actions {
		margin-top: 20px;
	}
</style>
