@model ReviewFormViewModel

<style>

	.title-review {
		font-weight: bold;
	}

	.form-group label {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.form-control {
		width: 100%;
		padding: 10px;
		border-radius: 4px;
		border: 1px solid #555;
		background-color: #444;
		color: #555;
	}

	.text-danger {
		color: #ff0000;
	}

	.btn-primary {
		background-color: #ff0000;
		border-color: #ff0000;
	}

		.btn-primary:hover {
			background-color: #ff0000;
			border-color: #ff0000;
		}


	#reviewForm {
		width: 800px;
		margin: 0 auto;
	}


	.form-group {
		margin-bottom: 15px;
	}


	.text-danger {
		margin-top: 5px;
	}

</style>

<h2 class="title-review">Delete a Review</h2>


	<form id="reviewForm" method="post" asp-controller="ProductReview" asp-action="AdminDelete" asp-area="Admin">
		<div class="form-group">
			<label asp-for="@Model.Rating">Rating</label>
			<input readonly asp-for="@Model.Rating" class="form-control" type="number" min="0" max="5" step="1" />
			<span asp-validation-for="@Model.Rating" class="text-danger"></span>
		</div>
		<span id="ratingError" class="text-danger"></span>

		<div class="form-group">
			<label asp-for="@Model.ReviewText">Review</label>
			<textarea readonly asp-for="@Model.ReviewText" class="form-control"></textarea>
			<span asp-validation-for="@Model.ReviewText" class="text-danger"></span>
		</div>
		<span id="reviewTextError" class="text-danger"></span>
		<dib>
			<button id="Button" type="submit" class="btn btn-danger">Delete Review</button>
		</dib>
	</form>


<script>
	var reviewForm = document.getElementById('reviewForm');

	reviewForm.addEventListener('submit', function (event) {
		event.preventDefault();

		var ratingInput = document.getElementById('Rating');
		var reviewTextInput = document.getElementById('ReviewText');

		var rating = parseFloat(ratingInput.value);
		var reviewText = reviewTextInput.value;

		if (rating < 0 || rating > 5) {
			var ratingError = document.getElementById('ratingError');
			ratingError.textContent = 'Rating must be between 0 and 5.';
			return;
		}

		if (reviewText.length < 10 || reviewText.length > 300) {
			var reviewTextError = document.getElementById('reviewTextError');
			reviewTextError.textContent = 'Review text must be between 10 and 300 characters.';
			return;
		}

		// Perform additional validation or submit the form as needed
		reviewForm.submit();
	});
</script>